jsonlines==4.0.0
requests==2.32.3
diskcache==5.6.3
transformers==4.43.0
pydantic==2.9.2
tqdm==4.67.0
configue==4.2.0
click==8.1.7
nltk==3.9.1
uvicorn==0.29.0
fastapi==0.110.0
python-dotenv==1.0.0
sentencepiece==0.1.99
protobuf==4.24.4
backoff==2.2.1
openai==1.14.2
tiktoken==0.5.2
black==24.3.0
deptry==0.15.0
mypy==1.9.0
ruff==0.3.4
coverage==7.4.0
pytest==8.1.0
